/*
Custom css
*/

div#grid{
	padding: 1em;
}

a{
	color: black;
}
a:hover{
	text-decoration: none;
	color: black;
}

input{
	border: none;
}

input:focus{
	outline: none;
}

button{
	border: none;
}

textarea{
	border: none;
}

textarea:focus{
	outline: none;
}

input::placeholder {
  font-size: x-small;
}


