<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jisu.test.dao.BoardMapper">

<insert id="boardInsert" parameterType="board">
	insert into
		SWDO_board_tb(
			board_no
			,board_title
			,user_id
			,board_content
			
		<if test="board_original != null and board_saved != null"> 
			,board_original
			,board_saved
		</if>
		
		)values(
			SWDO_board_seq.nextval
			,#{board_title}
			,#{user_id}	
			,#{board_content}
			
		<if test="board_original != null and board_saved != null">
			,#{board_original}
			,#{board_saved}
		</if>
		
		)
</insert>

<select id="boardSelectAll" parameterType="String" resultType ="hashmap">
	select
		b.board_no as board_no 
		,b.user_id as user_id 
		,u.user_name as user_name
		,b.board_title as board_title
		,b.board_hits as board_hits
		,b.board_content as board_content
		,to_char(b.board_indate,'yyyy-MM-dd') as board_indate
	from
		SWDO_board_tb b , SWDO_user_tb u
	where
		b.user_id = u.user_id
	<if test="_parameter != null">
		and
		upper(board_title) like '%'||upper(#{searchText})||'%'
	</if>
	order by
		board_no desc 
</select>

<select id="boardSelectOne" parameterType="board" resultType="board">
	select
		board_no
		,user_id
		,board_title
		,board_hits
		,board_content
		,to_char(board_indate,'yyyy-mm-dd') as board_indate
		,board_original 
		,board_saved 
	from
		SWDO_board_tb
	where
		board_no = #{board_no}
	order by
		board_no desc 
</select>

<update id="boardUpdateHits" parameterType="int">
	update
		SWDO_board_tb
	set
		board_hits = board_hits + 1
	where 
		board_no = #{board_no}

</update>

<delete id = "boardDelete" parameterType="board"> 
	delete
	from 
		SWDO_board_tb
	where
		board_no = #{board_no}
		and
		user_id = #{user_id} 
</delete>

<update id="boardUpdate" parameterType="board">
	update
		SWDO_board_tb
	set
		board_title = #{board_title}
		,board_content = #{board_content}
		
	<if test="board_original != null and board_saved != null"> 
		,board_original = #{board_original}
		,board_saved = #{board_saved}
	</if>
		
	where
		board_no = #{board_no}
		and
		user_id = #{user_id}
</update>

<select id="boardTotalRecordsCount" parameterType="String" resultType="int">
	select 
		count(*)
	from 
		SWDO_board_tb
	<if test="_parameter != null">   
	where
		upper(board_title) like '%'||upper(#{searchText})||'%'
	</if>	
</select>

<insert id="replyInsert" parameterType = "reply">
	insert into 
		SWDO_reply_tb(
			reply_no
			,user_id
			,reply_content
			,board_no
		)values(
			SWDO_reply_seq.nextVal
			,#{user_id}
			,#{reply_content}
			,#{board_no}
		)
</insert>

<select id ="replySelectAll" parameterType="int" resultType="reply">
	select
		reply_no
		,user_id
		,reply_content
		,to_char(reply_indate,'yy-mm-dd') as reply_indate
		,board_no
	from
		SWDO_reply_tb
	where
		board_no = #{board_no}
	order by
		reply_no desc
</select >

<delete id="replyDelete" parameterType="int">
	delete from
		SWDO_reply_tb
	where
		reply_no = #{reply_no}
</delete>

<update id="replyUpdate" parameterType="reply">
	update
		SWDO_reply_tb
	set
		reply_content = #{reply_content}
	where
		reply_no = #{reply_no}
</update>

</mapper>
